{% extends '@INSEADTurkey/base.html.twig' %}

{% block body %}
    <section class="container"  style="padding-top: 35px">
        <div class="row">
            {#<h1 class="text-center">Hi {{ app.user.username }}!</h1>#}
        </div>
        {#--------- DEBUT Message quand base de données pas assez remplie -------------------------------------#}
        {% for flash_message in app.session.flashBag.get('notif') %}
            <div class="alert alert-danger text-center">
                <strong>{{ flash_message|capitalize }}</strong>
            </div>
        {% endfor %}
        {#--------- FIN Message quand base de données pas assez remplie -------------------------------------#}
        <h1>Asker list</h1>
        {#-------------------------------------------------------------#}
        {# Mise en place pagination #}
        <div class="row center">
            {{ knp_pagination_render(askers) }}
        </div>
        {#-------------------------------------------------------------#}
        <div class="panel panel-default">
            {% for asker in askers %}
                <div class="panel-body">
                    <h4><strong>Username:</strong> {{ asker.user.username }}</h4>
                    <h4><strong>Email:</strong> {{ asker.user.email }}</h4>
                    <h4><strong>Lastname:</strong> {{ asker.lastname }}</h4>
                    <h4><strong>Firstname:</strong> {{ asker.firstname }}</h4>
                    <h4><strong>Company:</strong> {{ asker.company }}</h4>
                    <h4><strong>Sector:</strong> {{ asker.sector }}</h4>
                    <h4><strong>Job function:</strong> {{ asker.jobFunction }}</h4>
                    <h4><strong>Job level:</strong> {{ asker.jobLevel }}</h4>
                    <h4><strong>Location:</strong> {{ asker.location }}</h4>
                    <h4><strong>Annual:</strong> {{ asker.annual }}</h4>
                    <h4><strong>Marketing:</strong> {{ asker.marketing }}</h4>
                </div>

                <div class="list-group-admin">
                    <div class="list-group-horizontal">
                        <a href="{{ path('asker_edit', {'id': asker.id } ) }}" class="list-group-item">
                            Edit
                            <i class="fa fa-hand-rock-o fa-lg"></i>
                        </a>
                        <a href="{{ path('asker_delete', {'id': asker.id } ) }}" class="list-group-item"
                           onclick="return confirm('Are you sure?')">
                            Delete
                            <i class="fa fa-hand-paper-o fa-lg"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-warning"
           role="button"
           data-toggle="tooltip"
           title="Home"
           href="{{ path('home_connected') }}"
           style="margin-right: 15px;">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        </a>
        {#<a class="btn btn-primary"#}
           {#role="button"#}
           {#data-toggle="tooltip"#}
           {#title="Create a new demographic"#}
           {#href="{{ path('topic_new') }}"#}
           {#style="margin-right: 15px;">#}
            {#<i class="fa fa-bullseye" aria-hidden="true"></i> Create</i>#}
        {#</a>#}

    </section>
{% endblock %}
