{% extends '@INSEADTurkey/base.html.twig' %}

{% block body %}
<section class="container"  style="padding-top: 35px">
    <div class="row">
        {#<h1 class="text-center">Hi {{ app.user.username }}!</h1>#}
    </div>
    {#--------- DEBUT Message quand base de données pas assez remplie -------------------------------------#}
    {% for flash_message in app.session.flashBag.get('notif') %}
        <div class="alert alert-danger text-center">
            <strong>{{ flash_message|capitalize }}</strong>
        </div>
    {% endfor %}
    {#--------- FIN Message quand base de données pas assez remplie -------------------------------------#}

    <h1>Demographic edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('demographic_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</section>
{% endblock %}
