{% extends '@INSEADTurkey/base.html.twig' %}

{% block body %}
<section class="container"  style="padding-top: 35px">
    <div class="row">
        {#<h1 class="text-center">Hi {{ app.user.username }}!</h1>#}
    </div>
    {#--------- DEBUT Message quand base de données pas assez remplie -------------------------------------#}
    {% for flash_message in app.session.flashBag.get('notif') %}
        <div class="alert alert-danger text-center">
            <strong>{{ flash_message|capitalize }}</strong>
        </div>
    {% endfor %}
    {#--------- FIN Message quand base de données pas assez remplie -------------------------------------#}

    <h1>Demographic edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <div class="row" style="margin-left: 1em">
        <button class="btn btn-primary"
                type="submit"
                data-toggle="tooltip"
                title="Save"
                style="margin-right: 15px;">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
        </button>
        {{ form_end(edit_form) }}
        <a class="btn btn-warning"
           role="button"
           href="{{ path('demographic_index') }}"
           style="margin-right: 15px;">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        </a>
    </div>
    {{ form_end(edit_form) }}
</section>
{% endblock %}
