{% extends '@INSEADTurkey/base.html.twig' %}

{% block body %}
<section class="container"  style="padding-top: 35px">
    <div class="row">
        {#<h1 class="text-center">Hi {{ app.user.username }}!</h1>#}
    </div>
    <h1>Dictionary creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="row" style="margin-left: 1em">
        <button class="btn btn-primary"
                type="submit"
                data-toggle="tooltip"
                title="Save"
                style="margin-right: 15px;">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
        </button>
        {{ form_end(form) }}
        <a class="btn btn-warning"
           role="button"
           href="{{ path('dictionary_index') }}"
           style="margin-right: 15px;">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        </a>
    </div>
    {{ form_end(form) }}
</section>
{% endblock %}
