{% extends '@INSEADTurkey/base.html.twig' %}

{% block body %}
<section class="container"  style="padding-top: 35px">
    <div class="row">
        {#<h1 class="text-center">Hi {{ app.user.username }}!</h1>#}
    </div>
    <h1>Dictionary</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dictionary.id }}</td>
            </tr>
            <tr>
                <th>Word</th>
                <td>{{ dictionary.word }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dictionary_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dictionary_edit', { 'id': dictionary.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</section>
{% endblock %}
