{% extends '@INSEADTurkey/base.html.twig' %}

{% block body %}

    <div class="container-fluid inscription" style="padding-top: 150px">
        {% for flash_message in app.session.flashBag.get('notif') %}
            <div class="alert  alert-dismissable" role="alert">
                Cet email est déjà enregistré,  merci d'en utiliser un autre !
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
        <div class="row">
            <div class="header-logo-inscription">
                <a href=""><img src="" /></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-4 col-xs-offset-1 col-md-4 col-xs-10 custom_jumbotron">

                <h1 class="text-center">Answer profil </h1>
                <br>
                <h2 class="text-center">
                    <i class="fa fa-quote-left fa-lg" aria-hidden="true" style="color: grey"></i>
                    {{ app.user.username|capitalize }}
                    <i class="fa fa-quote-right fa-lg" aria-hidden="true" style="color: grey"></i>
                </h2>

                {{ form_start(edit_form) }}

                <div class="form-group">
                    {{ form_label(edit_form.lastName) }}
                    {{ form_widget(edit_form.lastName, { 'attr': {'placeholder': 'Pick your last name'|trans} }) }}
                    {{ form_errors(edit_form.lastName) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.firstName) }}
                    {{ form_widget(edit_form.firstName, { 'attr': {'placeholder': 'Pick your first name'|trans} }) }}
                    {{ form_errors(edit_form.firstName) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.company) }}
                    {{ form_widget(edit_form.company, { 'attr': {'placeholder': 'Pick your company'|trans} }) }}
                    {{ form_errors(edit_form.company) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.sector) }}
                    {{ form_widget(edit_form.sector, { 'attr': {'placeholder': 'Pick your sector'|trans} }) }}
                    {{ form_errors(edit_form.sector) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.jobFunction) }}
                    {{ form_widget(edit_form.jobFunction, { 'attr': {'placeholder': 'Pick your job function'|trans} }) }}
                    {{ form_errors(edit_form.jobFunction) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.jobLevel) }}
                    {{ form_widget(edit_form.jobLevel, { 'attr': {'placeholder': 'Pick your job level'|trans} }) }}
                    {{ form_errors(edit_form.jobLevel) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.location) }}
                    {{ form_widget(edit_form.location, { 'attr': {'placeholder': 'Pick your location'|trans} }) }}
                    {{ form_errors(edit_form.location) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.education) }}
                    {{ form_widget(edit_form.education, { 'attr': {'placeholder': 'Pick your education'|trans} }) }}
                    {{ form_errors(edit_form.education) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.birthdate) }}
                    {{ form_widget(edit_form.birthdate) }}

                </div>
                {{ form_widget(edit_form) }}
                <div>
                    <input class="buttonCustom" type="submit" value="Edit" />
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
        <ul>
            <li>
                {#<a href="{{ path('answer_index') }}">Back to the list</a>#}
            </li>
            {#<li>#}
            {#{{ form_start(delete_form) }}#}
            {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
            {#</li>#}
        </ul>
    </div>
{% endblock %}
