{% extends '@INSEADTurkey/base.html.twig' %}
{# Page home en fonction si Asker ou si Answer #}
{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <section class="container"  style="padding-top: 35px">
        {#--------- DEBUT Message quand base de données pas assez remplie -------------------------------------#}
        {% for flash_message in app.session.flashBag.get('notif') %}
            <div class="alert alert-info text-center">
                <strong>{{ flash_message|capitalize }}</strong>
            </div>
        {% endfor %}
        {#--------- FIN Message quand base de données pas assez remplie -------------------------------------#}
        <div class="row">
            {% if user.user.roles[0] == 'ROLE_ASKER_PREMIUM' %}
                <img class="img-responsive" src="{{ asset('bundles/inseadturkey/images/premium.png') }}" style="width: 10%; margin: 0 auto;" />
            {% endif %}
            <h1 class="text-center">Welcome {{ user.user.username|default('') }}!</h1>
            {% if user.user.roles[0] == 'ROLE_ANSWER' %}
            <div >
                <h4 class="text-center">My points: {{ user.creditEarned }}</h4>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-xs-9 col-xs-offset-3">
                {% if user.user.roles[0] == 'ROLE_ASKER' or user.user.roles[0] =='ROLE_ASKER_PREMIUM' %}
                    {# ASKER -> ask a question #}
                    <a href="{{ path('question_new') }}" class="btn btn_customAsker">Ask A Question</a>
                {% elseif user.user.roles[0] == 'ROLE_ANSWER' %}
                    {# ANSWER #}
                    <a href="{{ path('question_random_answer', {'count': "true"}) }}" class="btn btn_customAnswer">Start Answering</a>
                    {#<a href="{{ path('question_index_answer') }}" class="btn btn_customAnswer">Start Answering</a>#}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-9 col-xs-offset-3">
                {% if user.user.roles[0] == 'ROLE_ASKER' or user.user.roles[0] =='ROLE_ASKER_PREMIUM'%}
                    {# ASKER #}
                    <a href="{{ path('question_index') }}" class="btn btn_customAsker">My Questions</a>
                {% elseif user.user.roles[0] == 'ROLE_ANSWER' %}
                    {# ANSWER #}
                    {# message profil imcomplet #}
                    {% if (user.lastName is empty or user.firstName is empty or user.company is empty or user.sector is empty or user.jobFunction is empty or user.jobLevel is empty or user.location is empty or user.education is empty or user.birthdate is empty) %}
                        <div>
                            <div class="alert alert-warning text-center" style="width: 70%">
                                <strong>Votre profil est incomplet</strong>
                            </div>
                        </div>
                        <a href="{{ path('answer_edit', {'id': user.id}) }}" class="btn btn_customAnswer">
                            My Account
                        </a>
                    {% else %}
                        <a href="{{ path('answer_edit', {'id': user.id}) }}" class="btn btn_customAnswer">My Account</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {% if user.user.roles[0] == 'ROLE_ASKER' or user.user.roles[0] =='ROLE_ASKER_PREMIUM'%}
            {# ASKER #}
            <div class="row">
                <div class="col-xs-9 col-xs-offset-3">
                    <a href="{{ path('asker_edit', {'id': user.id}) }}" class="btn btn_customAsker">My Account</a>
                </div>
            </div>
        {% elseif user.user.roles[0] == 'ROLE_ANSWER' %}
            {# ANSWER #}
            {# nothing #}
        {% endif %}
    </section>

{% endblock %}
