{% extends '@INSEADTurkey/base.html.twig' %}

{% block body %}
    <h1>Reponse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse.id }}</td>
            </tr>
            <tr>
                <th>Textreponse</th>
                <td>{{ reponse.textReponse }}</td>
            </tr>
            <tr>
                <th>Datecreate</th>
                <td>{% if reponse.dateCreate %}{{ reponse.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Goodreponse</th>
                <td>{% if reponse.goodReponse %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reponse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reponse_edit', { 'id': reponse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
