<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            {% if is_granted("ROLE_ASKER") or is_granted("ROLE_ASKER_PREMIUM") or is_granted("ROLE_ANSWER") %}
                <a class="navbar-brand" href="{{ path('home_connected') }}">
                    qash
                </a>
            {% elseif is_granted("ROLE_ADMIN") %}
                <a class="navbar-brand" href="{{ path('home_connected') }}">
                    qash
                </a>
            {% else %}
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    qash
                </a>
            {% endif %}

            {# Bouton déconnexion #}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a class="navbar-brand-2" href="{{ path('fos_user_security_logout') }}" style="color: green;">
                    <i class="glyphicon glyphicon-off"></i>
                </a>
            {% else %}
                <a class="navbar-brand-2"href="{{ path('fos_user_security_login') }}" style="color: red;">
                    <i class="glyphicon glyphicon-off"></i>
                </a>
            {% endif %}
        </div>
    </div>
</nav>